body {
  background: #0f0f0f;
}
#subtitle h1 {
  font: 18px/24px "verdana-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#subtitle h1 span {
  border-bottom: 3px solid #11abb0;
  padding-bottom: 6px;
}
